<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Expenses</title>
  </head>
  <body>
    <nav>
      <ul>
       Expensify
      </ul>
      <ul>
       Dashboard
      </ul>
      <ul>
       Expenses
      </ul>
    </nav>
     <container>
       <section>

         <div>
           <h3>Today</h3>
         </div>
         <div>
           <h3>Yesterday</h3>
         </div>
         <div>
           <h3>This Month</h3>
         </div>
         <div>
           <h3>Last Month</h3>
         </div>
      </container>
    </section>

    <div>
      <h5> Last 6 months </h5>
      <p> Purchase Withdrawals Transfers Payments</p>
    </div>
    <div>
       <h5> By day  </h5>
       <p> Purchase - Withdrawals - Transfers Payments</p>
    </div>
    <div>
      <h5> By category </h5>
      <p> Fun Service Car Education Grocery Restaurant</p>
    </div>
    <div>
      <h5> Accumulated </h5>
      <p> Mes anterior   Mes seleccionado</p>
    </div>
   </header>
  </body>
</html>
